# Shared with aurora
system_files/shared/** @inffy @renner0e @ledif @castrojo @hanthor @ahmedadan

# Bluefin
system_files/bluefin/** @castrojo @hanthor @ahmedadan

# BEGIN TRIAGERS
# @repires
# @KiKaraage
# END TRIAGERS

# Docs and design — triagers can approve
docs/**  @repires @KiKaraage @projectbluefin/maintainers
*.md     @repires @KiKaraage @projectbluefin/maintainers
