[Unit]
Description=Libvirt Service in Podman
After=network-online.target

[Container]
Image=ghcr.io/jumpyvi/qemu-box:latest
AutoUpdate=registry
Network=host

PodmanArgs=--privileged --cgroupns=host --security-opt label=disable --pid=host

# Dbus
Mount=type=bind,source=/var/run/dbus/system_bus_socket,destination=/run/dbus/system_bus_socket

# UDev
Mount=type=bind,source=/var/run/udev,destination=/run/udev,ro

# KVV, USB Devices and OpenGL
AddDevice=/dev/kvm
AddDevice=/dev/bus/usb
Mount=type=bind,source=/dev/dri,destination=/dev/dri
Mount=type=bind,source=/var/run/libvirt-quadlet,destination=/run/libvirt

# Storage
Mount=type=bind,source=/var/lib/libvirt-quadlet,destination=/var/lib/libvirt

Exec=sh -c "virtlogd -d && libvirtd"

[Install]
WantedBy=multi-user.target

[Service]
RuntimeDirectory=libvirt-quadlet